@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

html {
    font-family: 'Zen Maru Gothic', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #bbdaa7;
    background-image:
        repeating-linear-gradient(-45deg,
            rgb(206, 224, 194), rgb(206, 224, 194) 20px,
            transparent 0, transparent 40px);
    color: rgb(0, 0, 0);
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),default;
}

body {
    width: 100%;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),default;
}






.loader-content {
    z-index: 20;
    position: fixed;
    transform: translate(-50%, -50%);
    height: 100vh;
    height: 100dvh;
    top: 50vh;
    top: 50dvh;
    left: 50%;
    display: flex;
    align-items: center;
}

.loader-img {
    width: 40vw;
}

.loader-content-img {
    width: 100%;
}

.loaded {
    opacity: 0;
    transition: all .5s;
    visibility: hidden;
}

.notloader {
    opacity: 0;
}

.endloaded {
    opacity: 1;
    transition: all .5s;
    transition-delay: .5s;
}








.header-parent {
    z-index: 10;
    width: 100%;
    height: 7vh;
    height: 7dvh;
    position: fixed;
    top: 0;
    background-color: #bbe0a2;
    border-bottom: 2px solid #abcf95;
}

.header {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.header-logo {
    margin-left: 4%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo a {
    width: 100%;
    height: 100%;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-img {
    height: 5vh;
    height: 5dvh;
}

.header-nav {
    width: 45%;
    max-width: 500px;
    margin-right: 1%;
}

.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease-in-out;
}

.header-nav-list li {
    width: 100%;
    text-align: center;
    line-height: 7vh;
    line-height: 7dvh;
}

.header-nav-list li:hover {
    background-color: #abcf95;
}

.header-nav-list a {
    font-size: .5rem;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.header-nav-list a:hover {
    color: rgb(255, 255, 255);
}

.burger {
    float: right;
    margin-right: 5%;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    display: none;
}

.nav-active {
    transform: translateX(0%) !important;
}








.bothends {
    display: none;
}










.imgslide {
    margin-top: 7vh;
    margin-top: 7dvh;
    text-align: center;
    user-select: none;
}

.slide-title {
    height: 8vh;
    height: 8dvh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.slide-title h1 {
    height: 30%;
    font-size: 1.2rem;
}

.switch-btn {
    height: 4vh;
    height: 4dvh;
    text-align: center;
    line-height: 4vh;
    line-height: 4dvh;
    margin-bottom: 1vh;
    margin-bottom: 1dvh;
    display: flex;
    justify-content: center;
}

.switch-btn-a {
    display: flex;
    margin-right: 2rem;
}

.switch-btn-b {
    display: flex;
    margin-left: 2rem;
}

.switch-btn img {
    padding-right: .5rem;
    padding-bottom: .2rem;
    height: 4vh;
    height: 4dvh;
    object-fit: contain;
}

.switch-btn a{
    font-size: .8rem;
    display: block;
    color: #000000;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.swiper {
    width: 100%;
    height: 70vh;
    height: 70dvh;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    color: white;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),grab;
}

.background-img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.swiper-slide-txt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 1rem;
}

.swiper-slide-title {
    margin-bottom: .5rem;
}

.swiper-slide-txt a {
    padding: 2vmax;
}

.swiper-slide-click {
    color: white;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.swiper-area {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 8vmax;
    max-width: 70px;
    height: 8vmax;
    max-height: 70px;
    border-radius: 6rem;
    background-color: #ffffff20;
    color: #ffffff;
    outline: none;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.4rem;
}

.swiper-button-disabled {
    opacity: 0.1;
}

.rightspace {
    display: none;
}








.imgpopup {
    z-index: 20;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
}

.imgpopup-contents {
    width: 100%;
    height: 100%;
    position: relative;
}

.blackback {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000d3;
}

.answerbtn {
    position: absolute;
    transform: translate(0%, -50%);
    top: 5%;
    left: 10%;
    width: 15vw;
    height: 5vh;
    height: 5dvh;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #abcf95;
}

.answerbtn a{
    color:#000000;
    font-size: .7rem;
    text-decoration: none;
    width: 15vw;
    line-height: 5vh;
    line-height: 5dvh;
    background-color:#d9e9cd;
    text-align: center;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.questionbtn {
    position: absolute;
    transform: translate(0%, -50%);
    top: 5%;
    left: 10%;
    width: 15vw;
    height: 5vh;
    height: 5dvh;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    visibility: hidden;
    border: 2px solid #abcf95;
}

.questionbtn a {
    color:#000000;
    font-size: .7rem;
    text-decoration: none;
    width: 15vw;
    line-height: 5vh;
    line-height: 5dvh;
    background-color:#d9e9cd;
    text-align: center;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.closebtn {
    position: absolute;
    transform: translate(0%, -50%);
    top: 5%;
    right: 10%;
    width: 15vw;
    height: 5vh;
    height: 5dvh;
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #abcf95;
}

.closebtn a {
    color:#000000;
    font-size: .7rem;
    text-decoration: none;
    width: 15vw;
    line-height: 5vh;
    line-height: 5dvh;
    background-color:#d9e9cd;
    text-align: center;
    cursor: url(https://raw.githubusercontent.com/UESHITA-FMHP/Web-File/main/cursor-ue-chan.png),pointer;
}

.imgpopup-img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52.5%;
    left: 50%;
    width: 80%;
    height: 85vh;
    height: 85dvh;
    max-height: 85vh;
    max-height: 85dvh;
    object-fit: contain;
}




@media screen and (max-width: 599px) {

    html{
        font-size: 15px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper {
        width: 100%;
        max-width: 1000px;
        height: 80vh;
        height: 80dvh;
    }

    .slide-title h1 {
        font-size: 2rem;
    }

    .swiper-slide-txt {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 599px) {

    .slide-title h1 {
        font-size: 2rem;
    }

    .swiper-slide-txt {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 840px) {

    @keyframes navlist {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .burger div {
        display: block;
        transition: all .5s ease-in-out;
    }

    .header-nav-list {
        position: absolute;
        right: 0;
        height: 93vh;
        height: 93dvh;
        top: 7vh;
        top: 7dvh;
        background-color: #d6e9ca;
        flex-direction: column;
        width: 100vw;
        transform: translateX(101%);
        box-sizing: border-box;
        border-top: 2px solid #abcf95;
    }

    .header-nav-list li {
        line-height: 23.25vh;
        line-height: 23.25dvh;
        opacity: 0;
    }

    .header-nav-list a{
        font-size: 1rem;
    }

    .header-nav-list li:hover {
        background-color: #abcf95;
    }

    .toggle .line1 {
        transform: rotate(-405deg) translate(-2.5px, 9px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(405deg)translate(-2.5px, -9px);
    }

}

@media screen and (min-width: 1200px) {

    .swiper {
        width: 60vw;
        height: 70vh;
        height: 70dvh;
        border-radius: 100px;
        border: 10px solid #abcf95;
    }

    .bothends {
        display: block;
        z-index: -1;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        font-size: 9vh;
        font-size: 9dvh;
        letter-spacing: 2.2vh;
        letter-spacing: 2.2dvh;
        color:rgb(123, 165, 114);
        user-select: none;
    }
    
    .righttxt h1 {
        position: absolute;
        top: 20vh;
        top: 20dvh;
        right: 0;
        transform-origin: 100% 100%;
        transform: rotate(-90deg) translate(18vh, 0);
        transform: rotate(-90deg) translate(18dvh, 0);
        margin-right: 2rem;
    }
    
    .lefttxt h1 {
        position: absolute;
        top: 20vh;
        top: 20dvh;
        left: 0;
        transform-origin: 0% 100%;
        transform: rotate(90deg) translate(14vh, 0);
        transform: rotate(90deg) translate(14dvh, 0);
        margin-left: 2rem;
    }

}
